In [2]:
import sqlite3

TASK 1

In [3]:
with sqlite3.connect("roster.db") as con:
    cursor = con.cursor()
    cursor.execute(
        ''' CREATE TABLE IF NOT EXISTS Roster (
        Name TEXT,
        Species TEXT,
        Age INTEGER
        )
''')
data = [
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29)
    ]
cursor.executemany('INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)', data)
cursor.execute("UPDATE Roster SET NAME = 'Ezri Dax' WHERE Name = 'Jadzia Dax'")
cursor.execute("SELECT Name, Age FROM Roster WHERE Species = 'Bajoran'")
bajoran_characters = cursor.fetchall()


cursor.execute("DELETE FROM Roster WHERE Age > 100")

cursor.execute("ALTER TABLE Roster ADD COLUMN Rank TEXT")

rank_data = [
    ('Benjamin Sisko', 'Captain'),
    ('Ezri Dax','Lieutenant'),
    ('Kira Nerys', 'Major')
]
for name, rank in rank_data:
    cursor.execute("UPDATE Roster SET Rank = ? WHERE Name = ?", (rank, name))

cursor.execute("SELECT Name, species, Age, Rank FROM Roster ORDER BY Age DESC")
sorted_characters = cursor.fetchall()

con.commit()

print(bajoran_characters)
print("Sorted by age:")
for character in sorted_characters:
    print(character)
con.close()

[('Kira Nerys', 29)]
Sorted by age:
('Benjamin Sisko', 'Human', 40, 'Captain')
('Kira Nerys', 'Bajoran', 29, 'Major')

TASK 2

In [ ]:
with sqlite3.connect('library.db') as conn:
    cursor = conn.cursor()
    cursor.execute(
        ''' CREATE TABEL IF NOT EXISTS Library
        (
        Title TEXT,
        Author TEXT,
        Year_Published INTEGER,
        Genre TEXT
        ) 

'''
    )